body {
    font-family: 'Merriweather', serif;
	background-color: #fff1e6;
	margin: 0; 
	padding: 0;
    overscroll-behavior: none;
}

a:hover{
    border-bottom-color: #bb3011;
 }

a {
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    color: #bb3011;
    transition: border-bottom-color .5s ease;
}

.map-container { 
	position: fixed; 
	top: 0; 
	bottom: 0; 
	width: 100%; 
}

.counter-container {
    display: flex;
    padding: 0;
}

.step {
    color: #444;
    box-shadow: 10px 0 10px -10px  rgba(0, 0, 0, 0.15);
    background-color: #fff1e6;
    opacity: 0.85;
    /* backface-visibility: hidden;
    -webkit-backface-visibility: hidden; */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translateZ(0);
}

.step hr {
  /*  border-top: 0.2px solid red;*/
    border: none;
    height: 0.15vh;
    background-color: #444;
    color: #444;
}

.step .mainText {
    font-size: 16px;
    margin: 0.5em 0 2em 0;
}

.step .imgText {
    color: rgb(101, 99, 99);
    font-size: 12px;
}

.left img {
    width: 100%;
    height: auto;
}

/* Todo: step, left, light can be grouped */
.left h2, .left h4{
    transition: color 0.8s;
}

.left h3 {
    font-style: italic;
    text-align: center;
    font-weight: normal;
    margin: 1.5em;
}

.left.active h2, .left.active hr{
	transition: color 0.8s;
/*	opacity: 0.9;*/
	color: #ef4c26;
}

.btn {
    z-index: 1;
    background-color: #dd7d68;
    box-shadow: 0 2px 10px 0 rgba(14,33,39,.25);
    position: fixed;
    right: 0;
    top: 0;
    width: 3.3em;
    height: 3.3em;
    margin: 1em;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #ef4c26;
}

/* 
<= 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV 
*/

/* equal or smaller than 480px (phones)*/
@media all and (max-width: 550px) {
    .btn:hover {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .left {
        /* width: 100vw; */
        margin: 50vh 0 0 0;
    }
    .step {
        padding: 2vh 3vw;
    }

    /* better to use pixel here to not make too many jumps */
    .step p{
        font-size: 16px;
    }

    .headerInner {
        padding: 3vh 3vw;
    }

    .headerImg {
        display: flex;
        justify-content: center;
    }
    
    h2 {
        margin: 0;
    }
}

/* equal or smaller than 750px (tablets)*/
@media all and (min-width: 551px) and (max-width: 1024px) {
    .left {
        width: 28vw;
        margin-left: 0vw;
    }
    .step {
        padding: 2vh 3vw;
    }

    /* better to use pixel here to not make too many jumps */
    .step p{
        font-size: 16px
    }

    .headerInner {
        padding: 4vh 3vw;
    }
}

/* equal or smaller than 1024px (small screens)*/
@media (min-width: 1025px) and (max-width: 1440px) {
    .left {
        width: 28vw;
        margin-left: 0vw;
    }
    .step {
        padding: 2vh 3vw;
    }

    .headerInner {
        padding-left: 3vw;
        padding-right: 35vw;
        padding-bottom: 4vh;
    }

}

/* equal or larger than 1201px (large screens)*/
@media (min-width: 1441px) {
    .left {
        width: 30vw;
        margin-left: 0vw;
    }
    .step {
        padding: 2vh 3vw;
    }

    .headerInner {
        padding-left: 3vw;
        padding-right: 60vw;
        padding-bottom: 7vh;
    }
}

.header {
    /*scroll-behavior: smooth;*/
    transition: opacity 1s;
	margin: auto;
    /* width: 100%; */
    height: 100vh;
    position: relative;
    /* z-index: 1; */
    text-align: left;
    background-image: url('./assets/images/background.jpeg');
    background-color: #fff1e6;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff1e6;
    display: flex;
}

.header h1 {
    font-size: 370%;
    margin: 0;
}

.headerInner {
    align-self: flex-end;
}

.header hr {
    margin: 1vh 0vw;
  /*  border-top: 0.2px solid red;*/
    border: none;
    height: 0.3vh;
    background-color: #fff1e6;
    color: #fff1e6;
}

.header a {
    text-align: center;
}

.headerImg img {
    width: 40%;
}

.icon, .icon-fixed {
    opacity: 0;
    max-width: 5%;
    align-self: center;
    height: auto;
}

.icon {
    opacity: 0;
}

.icon-text {
    padding: 1em;
    padding-left: 0;
    padding-right: 0.5em;
    margin: 0;
}

.step.active .icon {
    animation-duration: 0.5s;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    animation-fill-mode: forwards;
}

@keyframes fadeIn { 
	100% { opacity: 1; }
}

@keyframes fadeOut { 
	100% { opacity: 0; }
}

::selection {
    background: #f7b9ac; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #f7b9ac; /* Gecko Browsers */
}